html, body, ul, li {
	margin: 0;
	padding: 0;
}

#gallery {
	width: 860px;
	margin: 0 auto;
	text-align: center;
}

#gallery .photos {
	height: 520px;
	position: relative;
}

#gallery .photos img {
	width: 100%;
	position: absolute;
	left: 0;
	opacity: 0;
	transition: opacity 1s;
}

#gallery .photos .showed {
 opacity: 1;
}